# Virtual environments
.venv/
*.dylib
*.so
*.pyd

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# Cache and logs
__pycache__/
.cache/
logs/
outputs/
*.log

# Model files
*.bin
*.pt
*.ckpt

# System
.DS_Store